<ul class="nav navbar-nav menu_nav justify-content-end">
  <li class="nav-item">
    <%= link_to "Home", "/", class: "nav-link" %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about.html">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/blog.html">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/learning.html">Learning</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/projects.html">Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contact.html">Contact</a>
  </li>
</ul>
