---
title: Chris Wawer
---

<!--================ Start Home Banner Area =================-->
<section class="home_banner_area">
	<div class="banner_inner">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="banner_content">
						<h3 class="text-uppercase">Hell0</h3>
						<h1 class="text-uppercase">I am chris wawer</h1>
						<h5 class="text-uppercase">senior ruby on rails developer</h5>
						<div class="d-flex align-items-center">
							<a class="primary_btn" href="/blog.html"><span>Blog</span></a>
							<a class="primary_btn tr-bg" href="/learning.html"><span>Learning</span></a>
							<a class="primary_btn tr-bg" href="/projects.html"><span>Projects</span></a>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="home_right_img">
						<%= image_tag "home-right.png" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================ End Home Banner Area =================-->

<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
	<div class="container">
		<div class="row justify-content-start align-items-center">
			<div class="col-lg-5">
				<div class="about_img">
					<%= image_tag "about-us.png" %>
				</div>
			</div>

			<div class="offset-lg-1 col-lg-5">
				<div class="main_title text-left">
					<h2>let’s <br>
						Introduce about <br>
						myself</h2>
					<p>
						I'm a Senior Ruby on Rails Developer with over 13 years of experience building web applications that scale, last, and make sense. I care about clean architecture, meaningful abstractions, and solving real problems with practical code. I've led features, mentored teams, and delivered systems that keep running - even when no one's watching.
					</p>
					<p>
						Lately, I've been focused on solving the right problems, guiding others as they grow, and finding the most effective paths to deliver real value — on time, and with purpose. I enjoy the balance of thinking clearly, building simply, and helping teams move forward with confidence.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================ End About Us Area =================-->

<%#= partial "newsletter" %>
